@{
    ViewBag.Title = "About";
}

<h2>About Me</h2>
<p>Trained under Darth Revan. I am the true definition of a Force to be reckoned with. (Pun intended)</p>

<img src="http://files.enjin.com/79605/darth_revan_and_darth_malak_by_lucamara-d3362vy.jpg" />

<p>After the disapperance of my master, I took the path of the Acolyte and joined the cause for our glorious Sith Empire. Our conquests started with the taking of Korriban....</p>

<iframe width="853" height="480" src="//www.youtube.com/embed/mm4JEZudf0c" frameborder="0" allowfullscreen></iframe>

<p>After taking Korriban, we moved to the home of the Republic and took Alderran by force, but at a dire price...</p>

<iframe width="853" height="480" src="//www.youtube.com/embed/SAkcolVxDy0" frameborder="0" allowfullscreen></iframe>

<p>With the Republic crippled our leader Darth Malgus decided for a brazen and final blow. To strike the heart of the Republic on Courosant, and more precisely the Jedi Temple...</p>

<iframe width="853" height="480" src="//www.youtube.com/embed/YdgmH9Vv2-I" frameborder="0" allowfullscreen></iframe>

<p>Peace is a lie, there is only passion.</p>
<p>Through passion, I gain strength.</p>
<p>Through strength, I gain power.</p>
<p>Through power, I gain victory.</p>
<p>Through victory, my chains are broken.</p>
<p>The Force shall free me.</p>

<img src="http://img1.wikia.nocookie.net/__cb20130813201959/swfanon/images/6/65/Sith_Empire_Logo.jpg" />