@{
    ViewBag.Title = "Thank You";
}

<h2>Thank You</h2>
<p>Your recruitment for our glorious empire has been noted.</p>
<img src="http://img1.wikia.nocookie.net/__cb20130813201959/swfanon/images/6/65/Sith_Empire_Logo.jpg" />